{# {% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.quantity }}</td>
                <td>
                    <a href="{{ path('app_cart_show', {'id': cart.id}) }}">show</a>
                    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cart_new') }}">Create new</a>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block body %}
    {# <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{ element.product.nameProduct }}</td>
                                <td>{{ element.product.price }} €</td>
                                <td>{{ element.quantity }}</td>
                                <td>{{ element.quantity * element.product.price }} €</td>
                                <td>
                                    <a href="{{ path('cart_add', {id: element.product.id}) }}" class="btn btn-success">+</a>
                                    <a href="{{ path('cart_remove', {id: element.product.id}) }}" class="btn btn-warning">-</a>
                                    <a href="{{ path('cart_delete', {id: element.product.id}) }}" class="btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total }} €</td>
                            <td>
                                <a href="{{ path('cart_empty') }}" class="btn btn-danger">Vider</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <a href="{{ path('app_orders_add') }}" class="btn btn-primary">Valider le panier</a>
            </div>
        </section>
    </main> #}










    <main class="">
        <section class="">
            <div class="basket">
                {% for element in data %}
                
                    <div class="basket-labels">
                        <ul>
                            <li class="item item-heading">Produit</li>
                            <li class="price">Prix</li>
                            <li class="quantity">Quantité</li>
                            <li class="subtotal">total</li>
                        </ul>
                    </div>
                    <div class="basket-product">
                        <div class="item">
                            <div class="product-image">
                                <img src="" alt="Placholder Image 2" class="product-frame">
                            </div>
                            <div class="product-details">
                                <h1>{{ element.product.nameProduct }}</h1>
                            </div>
                        </div>
                        <div class="price">{{ element.product.price }} €</div>
                        <div class="quantity">
                            {{ element.quantity }}
                            <td>
                                <a href="{{ path('cart_add', {id: element.product.id}) }}" class="btn btn-success">+</a>
                                <a href="{{ path('cart_remove', {id: element.product.id}) }}" class="btn btn-warning">-</a>
                            </td>
                            {# <input type="number" value="4" min="1" class="quantity-field"> #}
                        </div>
                        <div class="subtotal">{{ element.quantity * element.product.price }} €</div>
                        <div class="remove">
                            <a href="{{ path('cart_delete', {id: element.product.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="5">Votre panier est vide</td>
                    </tr>    
                {% endfor %}
            </div>
            <aside>
                <div class="summary">
                    <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
                    <div class="summary-subtotal">
                        <div class="subtotal-title">Subtotal</div>
                        <div class="subtotal-value final-value" id="basket-subtotal">{{ total }} €</div>
                        <div class="summary-promo hide">
                            <div class="promo-title">Promotion</div>
                            <div class="promo-value final-value" id="basket-promo"></div>
                        </div>
                        <div class="summary-delivery">
                        <select name="delivery-collection" class="summary-delivery-selection">
                            <option value="0" selected="selected">Select Collection or Delivery</option>
                            <option value="collection">Collection</option>
                            <option value="first-class">Royal Mail 1st Class</option>
                            <option value="second-class">Royal Mail 2nd Class</option>
                            <option value="signed-for">Royal Mail Special Delivery</option>
                        </select>
                    </div>
                    </div>
                    <div class="summary-total">
                        <a href="{{ path('cart_empty') }}" class="btn btn-primary">Vider</a>
                        <div class="total-title">Total</div>
                        <div class="total-value final-value" id="basket-total">{{ total }} €</div>
                    </div>
                    <div class="summary-checkout">
                        <button class="checkout-cta"><a href=""></a></button>
                    </div>
                </div>
            </aside>
        <section class="row">
    </main>






























{% endblock %}