{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{# {% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/Ventalis/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/Ventalis/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %} #}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/slider_home1.png" class="d-block w-100" alt="...">
        </div>
        {# <div class="carousel-item">
            <img src="/img/slider_home2.jpg" class="d-block w-100" alt="...">
        </div> #}
        <div class="carousel-item">
            <img src="/img/slider_home3.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


<div class="text-center bg-black">
        <div class="row row-cols-4">
            <div class="col text-white">iPhone</div>
            <div class="col text-white">Macbook</div>
            <div class="col text-white">Watch</div>
            <div class="col text-white">AirPods</div>
        </div>
    </div>

    <main>
        <div class="h2">
            <h2 class="text-start text-white">Top ventes</h2>
        </div>



        <div class='container'>

		<div class='card'>
			<div class='card-content'>
				<div class='top-bar'>
					<span>€</span>
					<span class='float-right lnr lnr-heart'><i class="bi bi-heart"></i></span>
				</div>
				<div class='img'>
					<img src='' class='img-fluid'>
				</div>
			</div>
			<div class='card-description'>
				<div class='title'></div>
				<div class='cart'>
					<span class='lnr lnr-cart'><a href=""><i class="bi bi-cart"></i></a></span>
					{# <a href="{{ path('cart_add', {id: product.id}) }}"></a> #}
				</div>
			</div>
			<div class='card-footer'>
				{# <div class='span'>Stock:{{ product.stock }}</div> #}
				{# <div class='span'>{{ product.categories }}</div> #}
				<div class='span'></div>
			</div>
		</div>

	</div>


    <div class="h2">
        <h2 class="text-start text-white">Catégories</h2>
    </div>



    </main>
{% endblock %}