{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {# <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}


        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn-primary">Valider</button>
    {{ form_end(registrationForm) }} #}






    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 login-box">
                <h2>Inscription</h2>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}

                    <div class="form-group user-box">
                        {{ form_row(registrationForm.first_name,  {'label': false,'attr': {'placeholder': 'Prénom'}}) }}
                        {# {{ form_row(registrationForm.first_name, {label: ' '}) }} #}
                    </div>

                    <div class="form-group user-box">
                    {{ form_row(registrationForm.last_name, {'label': false,'attr': {'placeholder': 'Nom'}}) }}
                    </div>

                    <div class="form-group user-box">
                        {{ form_row(registrationForm.email, {'label': false,'attr': {'placeholder': 'Adresse mail'}}) }}
                    </div>


                    <div class="form-group user-box">
                    {{ form_row(registrationForm.plainPassword, {'label': false,'attr': {'placeholder': 'Mot de passe'}}) }}
                    </div>

                    {{ form_row(registrationForm.agreeTerms) }}

                    
                    <a href="#"><span></span><span></span><span></span><span></span><button class="login_button" type="submit" class="btn-primary">Valider</button></a>

                {{ form_end(registrationForm) }}
    
            </div>
        </div>
    </div>



    {# <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 login-box">
                <h2>Connexion</h2>
                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-group user-box">
                        <input type="text" class="form-control" id="email">
                        <label for="email username">Adresse mail</label>
                    </div>
                    <div class="user-box">
                        <input type="password" id="password" name="_password" required="">
                        <label for="password">Mot de passe</label>
                    
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <a href="#"><span></span><span></span><span></span><span></span><button class="login_button" type="submit">Valider</button></a>
                </form>
            </div>

        </div>
    </div> #}
{% endblock %}
