{% extends 'base.html.twig' %}

{% block title %}Appareils{% endblock %}

{% block body %}

{# <div class="divc">

    <div class="cloud cloud1">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div class="cloud cloud2">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div class="sign">OPEN</div>
    <div class="store_roof">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="store_roof_opening"></div>
    <div class="store_window"></div>
    <div class="store_door"></div>
    <div class="store_sign">MYSTORE</div>
    <div class="store_frame_shadow"></div>
    <div class="store_frame"></div>
    <div class="store_inner_wall"></div>
    <div class="store_wall"></div>
    <div class="store_floor"></div>
    <div class="kerb">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="road"></div>
    <div class="floor"></div>
    
</div> #}




						{# <p class="card-text">{{ product.categories }}</p> #}





{# <div>
	<div class="container">
		<div class="row">
			{% for product in products %}
			<div class="col-4">
				<div class="card text-white bg-secondary mb-3">
					<div class="card-body" align="center">
						<img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
						<h4 class="card-title">{{ product.nameProduct }}</h4>
						<p class="card-text">{{ product.description }}</p>
						<p class="card-text">{{ product.price }}€</p>
						<p class="card-text">{{ product.stock }}</p>


						<form action="" method="post">
							<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success">Ajouter au panier</a>
						</form>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div> #}










<h1 align="center" class="mb-5">Liste des produits</h1>

<div class='body'>
	<div class='container'>

		{% for product in products %}
		<div class='card'>
			<div class='card-content'>
				<div class='top-bar'>
					<span>{{ product.price }}€</span>
					<span class='float-right lnr lnr-heart'><i class="bi bi-heart"></i></span>
				</div>
				<div class='img'>
					<img src='{{ product.image }}' class='img-fluid'>
				</div>
			</div>
			<div class='card-description'>
				<div class='title'>{{ product.nameProduct }}</div>
				<div class='cart'>
					<span class='lnr lnr-cart'><a href="{{ path('cart_add', {id: product.id}) }}"><i class="bi bi-cart"></i></a></span>
					{# <a href="{{ path('cart_add', {id: product.id}) }}"></a> #}
				</div>
			</div>
			<div class='card-footer'>
				{# <div class='span'>Stock:{{ product.stock }}</div> #}
				{# <div class='span'>{{ product.categories }}</div> #}
				<div class='span'>{{ product.description }}</div>
			</div>
		</div>
		{% endfor %}

	</div>
</div>




{# <h1 align="center" class="mb-5">Liste des produits</h1>
<main class="page-content">
	{% for product in products %}
	<div class="cardc">
	<style>
        .cardc {
            background-image: url('{{ product.image }}');
        }
    </style>
	{# <img class="card-img-top" src="{{ product.image }}" alt="Card image cap"> #}
		{# <div class="content">
			<h2 class="title">{{ product.nameProduct }}</h2>
			<p class="copy">{{ product.description }}</p>
			<p class="copy">{{ product.price }}€</p>
			<p class="copy">Disponibilité :{{ product.stock }}</p>
			<form action="" method="post">
				<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success">Ajouter au panier</a>
			</form>
			{# <button class="btnc">View Trips</button> #}


		{# </div>
	</div>
	{% endfor %}
</main> #}




{# <div class="cardc">
	<div class="content">
		<h2 class="title">To The Beach</h2>
		<p class="copy">Plan your next beach trip with these fabulous destinations</p>
		<button class="btnc">View Trips</button>
	</div>
</div>
<div class="cardc">
	<div class="content">
		<h2 class="title">Desert Destinations</h2>
		<p class="copy">It's the desert you've always dreamed of</p>
		<button class="btnc">Book Now</button>
	</div>
</div>
<div class="cardc">
	<div class="content">
		<h2 class="title">Explore The Galaxy</h2>
		<p class="copy">Seriously, straight up, just blast off into outer space today</p>
		<button class="btnc">Book Now</button>
	</div>
</div> #}














{% endblock %}