{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"> #}

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
        {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}

        {# <button type="submit">login</button>
    </form> #}



    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 login-box">
                <h2>Connexion</h2>
                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-group user-box">
                        <input type="text" class="form-control" id="email" name="_username" value="{{ last_username }}" required >
                        <label for="email">Adresse mail</label>
                    </div>
                    <div class="user-box">
                        <input type="password" id="password" name="_password" required="">
                        {# <label for="password">Mot de passe</label> #}
                    
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <a href="#"><span></span><span></span><span></span><span></span><button class="login_button" type="submit">Valider</button></a>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
