{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}


    <h1>Gestion des Produits</h1>

    <table class="table table table-bordered grocery-crud-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_product</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Status_product</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.nameProduct }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.statusProduct ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
