 {# <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
</footer> #}


<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="footer">
    <div class="bubbles">
        <div class="bubble"
            style="--size:2.085361650444468rem; --distance:7.964856157131298rem; --position:14.889822886205298%; --time:2.273773774980889s; --delay:-2.931332225413258s;">
        </div>
        <div class="bubble"
            style="--size:2.824206531986613rem; --distance:8.662815529631875rem; --position:62.34959495506554%; --time:3.0205864202751505s; --delay:-3.4571837527756917s;">
        </div>
        <div class="bubble"
            style="--size:2.852680710523657rem; --distance:9.26285522574079rem; --position:16.46271022371771%; --time:3.82331515128177s; --delay:-2.2139384187295588s;">
        </div>
        <div class="bubble"
            style="--size:2.8907741513264966rem; --distance:9.959336219398851rem; --position:71.086046751815%; --time:2.5989081867675914s; --delay:-3.9685454426893636s;">
        </div>
        <div class="bubble"
            style="--size:3.848543526827373rem; --distance:8.825256931410003rem; --position:48.023549307723144%; --time:2.457678069484745s; --delay:-3.7173811440598477s;">
        </div>
        <div class="bubble"
            style="--size:5.3400541330126465rem; --distance:8.60680849993978rem; --position:84.20351755881204%; --time:3.298875047874775s; --delay:-3.6665467587629244s;">
        </div>
        <div class="bubble"
            style="--size:5.299330056127874rem; --distance:8.1707284684847rem; --position:30.978605092622175%; --time:2.932138843485275s; --delay:-3.2996081138941253s;">
        </div>
        <div class="bubble"
            style="--size:4.906417569225884rem; --distance:6.366988679681576rem; --position:87.33721174131658%; --time:2.4966456871848077s; --delay:-2.3608786531547166s;">
        </div>
        <div class="bubble"
            style="--size:5.508573027670914rem; --distance:9.553392018828655rem; --position:7.331343109857123%; --time:3.68729785841816s; --delay:-2.297766668107103s;">
        </div>
        <div class="bubble"
            style="--size:5.594863459395621rem; --distance:6.31400815414862rem; --position:50.9370622857388%; --time:2.667481127452276s; --delay:-3.449084384504175s;">
        </div>
        <div class="bubble"
            style="--size:2.2214836518333723rem; --distance:6.63364487859262rem; --position:44.92965763568897%; --time:2.0541628248190222s; --delay:-3.566631967531919s;">
        </div>
        <div class="bubble"
            style="--size:4.297699148565143rem; --distance:8.119599275620532rem; --position:69.85943200432402%; --time:2.196270272656282s; --delay:-2.418607118292833s;">
        </div>
        <div class="bubble"
            style="--size:3.8355671650675047rem; --distance:9.520900550729795rem; --position:96.10839423341164%; --time:3.3164254187455526s; --delay:-2.6311417970402755s;">
        </div>
        <div class="bubble"
            style="--size:4.915871744656935rem; --distance:7.123137320784166rem; --position:55.53768739975007%; --time:3.4066842785556s; --delay:-3.7320620765433934s;">
        </div>
        <div class="bubble"
            style="--size:4.8292841253043655rem; --distance:9.92544297056546rem; --position:104.43102191083064%; --time:3.636264522466847s; --delay:-3.5697455175154977s;">
        </div>
        <div class="bubble"
            style="--size:3.9711596513734637rem; --distance:6.327398602372887rem; --position:82.3574780757424%; --time:3.440314151251174s; --delay:-2.0691274365266685s;">
        </div>
        <div class="bubble"
            style="--size:5.12148164075275rem; --distance:7.907726625032603rem; --position:63.30996812653687%; --time:3.286497652801273s; --delay:-2.3169691737286637s;">
        </div>
        <div class="bubble"
            style="--size:4.031100775612193rem; --distance:8.218502112812327rem; --position:26.718488932806867%; --time:3.6328251558978324s; --delay:-3.863207927602873s;">
        </div>
        <div class="bubble"
            style="--size:2.5622578198228174rem; --distance:7.974740840289583rem; --position:11.850252474029485%; --time:3.6580416089261143s; --delay:-3.3206520919011226s;">
        </div>
        <div class="bubble"
            style="--size:2.271155082469299rem; --distance:8.692987956165222rem; --position:69.00522797128752%; --time:3.239107518427789s; --delay:-3.0315968307356655s;">
        </div>
        <div class="bubble"
            style="--size:3.8131277237119967rem; --distance:7.515909941909016rem; --position:65.4102752874542%; --time:3.794647491940413s; --delay:-2.3989795348453917s;">
        </div>
        <div class="bubble"
            style="--size:4.795335479549442rem; --distance:9.018922449564412rem; --position:32.3176820176697%; --time:3.52722485789635s; --delay:-2.4472216783176086s;">
        </div>
        <div class="bubble"
            style="--size:5.647828614724374rem; --distance:9.94378527287413rem; --position:8.291241544899412%; --time:3.9298153124257897s; --delay:-3.810168756497531s;">
        </div>
        <div class="bubble"
            style="--size:4.731331226368785rem; --distance:9.550648529550319rem; --position:92.40454499123506%; --time:2.378731774079833s; --delay:-3.2470067267133906s;">
        </div>
        <div class="bubble"
            style="--size:2.373509272935915rem; --distance:7.3534273484597295rem; --position:15.428834876062318%; --time:3.6245464597766746s; --delay:-3.610559983516053s;">
        </div>
        <div class="bubble"
            style="--size:2.6191259143540044rem; --distance:6.560102839734876rem; --position:66.48184792125365%; --time:3.438052015340496s; --delay:-2.1396253254158974s;">
        </div>
        <div class="bubble"
            style="--size:3.316748614487768rem; --distance:6.180385258179104rem; --position:64.73668920209364%; --time:2.907916275749728s; --delay:-2.2922623037227723s;">
        </div>
        <div class="bubble"
            style="--size:4.241853174090842rem; --distance:8.997351210146558rem; --position:55.85544600909033%; --time:3.941439579201043s; --delay:-3.326472964983196s;">
        </div>
        <div class="bubble"
            style="--size:4.220067440280874rem; --distance:8.799701014432426rem; --position:83.30775659645406%; --time:3.248170585772988s; --delay:-2.5291426349247246s;">
        </div>
        <div class="bubble"
            style="--size:3.9561818266266906rem; --distance:9.903870000169084rem; --position:77.27410502398232%; --time:3.619156012198027s; --delay:-2.108212111402163s;">
        </div>
        <div class="bubble"
            style="--size:2.792308777892096rem; --distance:9.030900475733272rem; --position:17.543510866393035%; --time:2.301474052581612s; --delay:-2.3346982525794875s;">
        </div>
        <div class="bubble"
            style="--size:2.6626930947550616rem; --distance:7.0582276638957895rem; --position:75.56366330699754%; --time:3.7035289134696137s; --delay:-3.379082875292067s;">
        </div>
        <div class="bubble"
            style="--size:4.053642231782741rem; --distance:7.925459520554488rem; --position:-0.20843689364666407%; --time:3.904034498771075s; --delay:-2.0432233783429496s;">
        </div>
        <div class="bubble"
            style="--size:4.088367677472746rem; --distance:7.485876499146757rem; --position:63.78099235448755%; --time:2.1613211442481086s; --delay:-3.9439073320461926s;">
        </div>
        <div class="bubble"
            style="--size:2.576831237626858rem; --distance:8.887687394312076rem; --position:82.95094306564218%; --time:2.241381744410073s; --delay:-3.213810511938501s;">
        </div>
        <div class="bubble"
            style="--size:4.7305289124707rem; --distance:7.845890171344383rem; --position:1.9104416789332905%; --time:2.623872796005093s; --delay:-2.255485414984332s;">
        </div>
        <div class="bubble"
            style="--size:3.6441249965119225rem; --distance:8.435607825247573rem; --position:49.816241349271%; --time:3.6671324233414135s; --delay:-2.8622471733554806s;">
        </div>
        <div class="bubble"
            style="--size:3.111756794371944rem; --distance:8.147145092631934rem; --position:71.94474028015291%; --time:2.3661120130138116s; --delay:-3.30354696053988s;">
        </div>
        <div class="bubble"
            style="--size:3.6261481644244693rem; --distance:9.500988125724062rem; --position:64.23425465262596%; --time:3.975679097535691s; --delay:-3.186481902481356s;">
        </div>
        <div class="bubble"
            style="--size:4.724016080463936rem; --distance:6.58063178627284rem; --position:-0.006948068254999384%; --time:3.1952819137704727s; --delay:-3.9233542432195234s;">
        </div>
        <div class="bubble"
            style="--size:2.478985995818337rem; --distance:9.054723819886027rem; --position:99.51047179893358%; --time:2.939143009993685s; --delay:-3.4604902733034804s;">
        </div>
        <div class="bubble"
            style="--size:4.878339519624924rem; --distance:9.037852646170062rem; --position:16.12918644260323%; --time:3.3125174895417904s; --delay:-2.027051115738994s;">
        </div>
        <div class="bubble"
            style="--size:5.028830726972584rem; --distance:6.876013269173582rem; --position:-3.654446862559808%; --time:2.3820459952976525s; --delay:-2.8862643863185515s;">
        </div>
        <div class="bubble"
            style="--size:4.103175534035125rem; --distance:6.1848153998073805rem; --position:90.24443206338893%; --time:2.3539125874578932s; --delay:-2.6604677778074457s;">
        </div>
        <div class="bubble"
            style="--size:5.657453812343687rem; --distance:6.119825708118992rem; --position:73.82274615892217%; --time:2.3945380471211664s; --delay:-2.6077017264632447s;">
        </div>
        <div class="bubble"
            style="--size:2.386049464316952rem; --distance:7.042056128011773rem; --position:12.50696531503079%; --time:2.553518098629007s; --delay:-3.634548365484717s;">
        </div>
        <div class="bubble"
            style="--size:2.8340490506965246rem; --distance:9.928320942795839rem; --position:86.2265338054383%; --time:3.033644597427624s; --delay:-3.4886195497032104s;">
        </div>
        <div class="bubble"
            style="--size:3.706915542449832rem; --distance:8.89022704082971rem; --position:21.719000502690527%; --time:3.08553696809907s; --delay:-3.249737302930723s;">
        </div>
        <div class="bubble"
            style="--size:4.331779242015327rem; --distance:7.1279751117981665rem; --position:22.71367164326589%; --time:2.727401574449816s; --delay:-2.587069114907217s;">
        </div>
        <div class="bubble"
            style="--size:5.979256109467339rem; --distance:6.456291989849342rem; --position:41.806676582718396%; --time:2.476313662870128s; --delay:-3.549516102589829s;">
        </div>
        <div class="bubble"
            style="--size:4.4916655529986rem; --distance:8.109045445652011rem; --position:33.1880602917168%; --time:2.0173315667302276s; --delay:-2.6229422291092472s;">
        </div>
        <div class="bubble"
            style="--size:3.835157366631633rem; --distance:6.220314337187608rem; --position:2.3304993769808107%; --time:3.64126939793578s; --delay:-3.3209947143196548s;">
        </div>
        <div class="bubble"
            style="--size:5.221839288612714rem; --distance:8.399689195098912rem; --position:50.1291218730221%; --time:3.570616439747329s; --delay:-2.8755314884050294s;">
        </div>
        <div class="bubble"
            style="--size:2.9346611551718027rem; --distance:8.888035750173955rem; --position:48.852885875143215%; --time:3.901881745964554s; --delay:-3.824264146058204s;">
        </div>
        <div class="bubble"
            style="--size:3.1525384545283615rem; --distance:7.351518612801433rem; --position:42.29032264409157%; --time:3.3069349818116516s; --delay:-3.8039036240703443s;">
        </div>
        <div class="bubble"
            style="--size:5.5434921447251435rem; --distance:8.006500013672799rem; --position:57.06575445405529%; --time:3.5419027407434016s; --delay:-3.8092114205670033s;">
        </div>
        <div class="bubble"
            style="--size:2.4487301083191797rem; --distance:8.078125711790461rem; --position:-4.31003744752288%; --time:3.889169563812621s; --delay:-3.085727805919407s;">
        </div>
        <div class="bubble"
            style="--size:4.792786973676534rem; --distance:7.197453239751994rem; --position:91.78741258127089%; --time:2.9922873553593905s; --delay:-3.521806326264256s;">
        </div>
        <div class="bubble"
            style="--size:3.327267604359011rem; --distance:9.519019825476178rem; --position:-2.9414431959058973%; --time:2.1386914143703932s; --delay:-2.6140733618055765s;">
        </div>
        <div class="bubble"
            style="--size:3.986491263813736rem; --distance:7.346932127252415rem; --position:-2.708182451686618%; --time:3.1537579901603383s; --delay:-3.630221909204636s;">
        </div>
        <div class="bubble"
            style="--size:5.870985844604144rem; --distance:6.058020183144836rem; --position:70.79409592159878%; --time:3.1699943896969285s; --delay:-2.184736775247875s;">
        </div>
        <div class="bubble"
            style="--size:2.1366484367284793rem; --distance:6.354412573775815rem; --position:9.581132829045828%; --time:3.717431288755678s; --delay:-3.3138626386325734s;">
        </div>
        <div class="bubble"
            style="--size:2.794546725472519rem; --distance:8.294306770206198rem; --position:62.637009189084594%; --time:2.110020639055244s; --delay:-3.5624988866127496s;">
        </div>
        <div class="bubble"
            style="--size:2.814578052207752rem; --distance:7.054590554238013rem; --position:86.66275854529518%; --time:2.0836857823708814s; --delay:-2.5287801307566244s;">
        </div>
        <div class="bubble"
            style="--size:4.400395754076674rem; --distance:9.47000647356616rem; --position:7.374881422895708%; --time:3.20668157252941s; --delay:-3.8195153310573975s;">
        </div>
        <div class="bubble"
            style="--size:3.9408560072165244rem; --distance:8.831594530344288rem; --position:30.592774983698888%; --time:3.0948086788980085s; --delay:-2.742644669464933s;">
        </div>
        <div class="bubble"
            style="--size:2.050832659798912rem; --distance:9.441966772131693rem; --position:104.80098533230762%; --time:2.4646013013275287s; --delay:-2.2491957797488977s;">
        </div>
        <div class="bubble"
            style="--size:5.384248726144454rem; --distance:8.943289032530435rem; --position:44.986420528597584%; --time:2.8852037724787993s; --delay:-2.92490874553984s;">
        </div>
        <div class="bubble"
            style="--size:2.5838652298788345rem; --distance:6.233416732029625rem; --position:92.23890265810851%; --time:3.2609892616348164s; --delay:-2.8971798885171554s;">
        </div>
        <div class="bubble"
            style="--size:2.4800561909180097rem; --distance:7.46335086558462rem; --position:39.523339949210886%; --time:3.473816758602455s; --delay:-2.3914608742460803s;">
        </div>
        <div class="bubble"
            style="--size:3.4233984158333364rem; --distance:6.097925870270279rem; --position:32.52309612301585%; --time:2.628932477524505s; --delay:-3.3183905324633356s;">
        </div>
        <div class="bubble"
            style="--size:4.169133399749219rem; --distance:8.7750685578847rem; --position:91.07920149848869%; --time:2.792845498287616s; --delay:-2.9844681666094632s;">
        </div>
        <div class="bubble"
            style="--size:2.9523788235033077rem; --distance:9.687291460202683rem; --position:5.116207924116365%; --time:3.153815135155358s; --delay:-2.3218692960526s;">
        </div>
        <div class="bubble"
            style="--size:2.551471996646625rem; --distance:9.888315652748098rem; --position:47.43340962343965%; --time:2.298261319235658s; --delay:-2.350277529092536s;">
        </div>
        <div class="bubble"
            style="--size:5.793496594183385rem; --distance:6.184105794566151rem; --position:84.45706340055152%; --time:2.390034893601351s; --delay:-3.9722724237338034s;">
        </div>
        <div class="bubble"
            style="--size:2.68637747773189rem; --distance:9.839144293525079rem; --position:26.11399585417264%; --time:2.9863125718058834s; --delay:-2.155788218277391s;">
        </div>
        <div class="bubble"
            style="--size:2.169835282613402rem; --distance:7.3778110761216045rem; --position:89.65747014645802%; --time:2.671888813738495s; --delay:-2.964122340560134s;">
        </div>
        <div class="bubble"
            style="--size:3.580238476938397rem; --distance:9.07062237488482rem; --position:37.77746718284226%; --time:2.7947360898347164s; --delay:-2.7474084735039197s;">
        </div>
        <div class="bubble"
            style="--size:4.768729945879364rem; --distance:8.11595888798462rem; --position:17.879272873449608%; --time:3.0257304172252413s; --delay:-2.5237564942727397s;">
        </div>
        <div class="bubble"
            style="--size:4.812316633279333rem; --distance:6.347822142213845rem; --position:86.36648042230132%; --time:3.4885209765323077s; --delay:-2.793150677929208s;">
        </div>
        <div class="bubble"
            style="--size:2.6554236168755265rem; --distance:7.110170385761587rem; --position:69.18207925704948%; --time:2.6936887981278663s; --delay:-2.59964578662706s;">
        </div>
        <div class="bubble"
            style="--size:3.829689206688748rem; --distance:7.549952676366102rem; --position:64.49590431300682%; --time:3.0916531767766475s; --delay:-2.8979535931398233s;">
        </div>
        <div class="bubble"
            style="--size:4.189654568969628rem; --distance:8.027785061074095rem; --position:88.04930588011042%; --time:2.7106580769063235s; --delay:-3.6021815086124334s;">
        </div>
        <div class="bubble"
            style="--size:2.7235783220803613rem; --distance:6.392431248493884rem; --position:0.5244273642133219%; --time:2.0801329906354815s; --delay:-3.499036246426818s;">
        </div>
        <div class="bubble"
            style="--size:2.260660478956793rem; --distance:9.023715225587502rem; --position:-3.5777246470440938%; --time:2.906984976331464s; --delay:-3.1856875126974376s;">
        </div>
        <div class="bubble"
            style="--size:5.656965274067472rem; --distance:7.730180299756147rem; --position:11.209932469733207%; --time:3.955514596123003s; --delay:-2.236269654508339s;">
        </div>
        <div class="bubble"
            style="--size:5.828675779464361rem; --distance:6.840013919323147rem; --position:99.8689821569715%; --time:2.285188173222803s; --delay:-3.18455464305986s;">
        </div>
        <div class="bubble"
            style="--size:2.353776763618317rem; --distance:8.256414922553674rem; --position:17.561107470104254%; --time:2.4201611440507818s; --delay:-3.3906451941220657s;">
        </div>
        <div class="bubble"
            style="--size:3.569804138857486rem; --distance:6.535319306347515rem; --position:86.31560361761522%; --time:3.455660176077558s; --delay:-3.2328021406264766s;">
        </div>
        <div class="bubble"
            style="--size:5.094806137598235rem; --distance:6.432237268344223rem; --position:34.345625526449275%; --time:3.9194783134720024s; --delay:-2.1092516517810194s;">
        </div>
        <div class="bubble"
            style="--size:4.515440152419812rem; --distance:8.98464396970813rem; --position:12.170652638078895%; --time:2.8415450931294934s; --delay:-3.4352941475439187s;">
        </div>
        <div class="bubble"
            style="--size:5.601618398916238rem; --distance:7.774457038669464rem; --position:58.210469691561585%; --time:2.930990120053309s; --delay:-3.158259496502577s;">
        </div>
        <div class="bubble"
            style="--size:5.064087941202219rem; --distance:9.932737670679156rem; --position:42.63519346782739%; --time:2.0142001106753815s; --delay:-2.272854162269888s;">
        </div>
        <div class="bubble"
            style="--size:5.762348093033879rem; --distance:9.073825401481663rem; --position:54.851106663645815%; --time:2.683520816783225s; --delay:-3.430497746148114s;">
        </div>
        <div class="bubble"
            style="--size:5.5108499542594975rem; --distance:7.7505331777783635rem; --position:34.408089787112566%; --time:3.4521504811642556s; --delay:-3.073496918421929s;">
        </div>
        <div class="bubble"
            style="--size:5.174331656893127rem; --distance:7.48997598347711rem; --position:48.44131943737282%; --time:2.4948826100329637s; --delay:-3.6916212099609895s;">
        </div>
        <div class="bubble"
            style="--size:3.7530220000675163rem; --distance:6.363706469420638rem; --position:23.575282849612755%; --time:2.267748467172782s; --delay:-3.6293956491465402s;">
        </div>
        <div class="bubble"
            style="--size:3.507153784163675rem; --distance:6.761403799753315rem; --position:69.15572505410869%; --time:2.3368613041838793s; --delay:-2.7179698612773233s;">
        </div>
        <div class="bubble"
            style="--size:5.898515003684897rem; --distance:7.905572346554381rem; --position:42.91659392220558%; --time:2.7353735643828805s; --delay:-2.1364581890666696s;">
        </div>
        <div class="bubble"
            style="--size:3.1517543920904654rem; --distance:7.16364768654029rem; --position:67.37126156671307%; --time:2.8821608005040877s; --delay:-3.575466172010494s;">
        </div>
        <div class="bubble"
            style="--size:3.340692960773148rem; --distance:7.451732517310357rem; --position:20.861871577302903%; --time:2.512171537934617s; --delay:-2.2993937394800286s;">
        </div>
        <div class="bubble"
            style="--size:5.786030094271957rem; --distance:9.558030709001905rem; --position:29.995078770104655%; --time:3.578292720727623s; --delay:-3.4651091406010397s;">
        </div>
        <div class="bubble"
            style="--size:2.4674732320045365rem; --distance:8.33594762095568rem; --position:81.84834611779846%; --time:2.6757302376244634s; --delay:-2.0718478162998433s;">
        </div>
        <div class="bubble"
            style="--size:2.0913769501870023rem; --distance:9.296866353750724rem; --position:88.39928224354207%; --time:2.3627279156920626s; --delay:-2.4019271771044868s;">
        </div>
        <div class="bubble"
            style="--size:2.089961575099762rem; --distance:6.129725096738372rem; --position:6.546462777050754%; --time:3.7042242965773444s; --delay:-3.834528008630878s;">
        </div>
        <div class="bubble"
            style="--size:5.201997272846952rem; --distance:9.879243788263956rem; --position:10.331811892227023%; --time:2.3346602779261834s; --delay:-2.8779839213004483s;">
        </div>
        <div class="bubble"
            style="--size:5.657442898753436rem; --distance:6.576896068828259rem; --position:96.0576029103905%; --time:2.866642863685536s; --delay:-3.7894433446430074s;">
        </div>
        <div class="bubble"
            style="--size:2.9643572389186126rem; --distance:7.272134560849477rem; --position:74.7169687354908%; --time:3.2372959765509397s; --delay:-2.896687586896947s;">
        </div>
        <div class="bubble"
            style="--size:4.302662133761058rem; --distance:7.932793427571014rem; --position:87.99272785804911%; --time:2.3947850627064846s; --delay:-2.0449187600629823s;">
        </div>
        <div class="bubble"
            style="--size:2.6759892040047175rem; --distance:9.540082358610988rem; --position:13.901816271313518%; --time:3.6015877764925635s; --delay:-3.8707802384461525s;">
        </div>
        <div class="bubble"
            style="--size:3.596440919394171rem; --distance:8.703860827415337rem; --position:-2.9674972051684545%; --time:2.0847663017308418s; --delay:-2.032806882927417s;">
        </div>
        <div class="bubble"
            style="--size:3.0241653013613563rem; --distance:9.00791336079002rem; --position:67.90490239362383%; --time:3.2855188377474245s; --delay:-2.5500818000058683s;">
        </div>
        <div class="bubble"
            style="--size:5.772032774129692rem; --distance:8.070834732681686rem; --position:40.9916178323254%; --time:2.6172699038968794s; --delay:-3.663546548127876s;">
        </div>
        <div class="bubble"
            style="--size:2.267314692888432rem; --distance:6.2282957051120205rem; --position:48.831582359300434%; --time:2.200598100631601s; --delay:-3.623037974660593s;">
        </div>
        <div class="bubble"
            style="--size:3.5644644241748393rem; --distance:7.498101689846693rem; --position:30.213373378944667%; --time:2.306700744965929s; --delay:-2.494620392088212s;">
        </div>
        <div class="bubble"
            style="--size:2.554571055078849rem; --distance:6.30048139888436rem; --position:103.94780855437196%; --time:2.250260545635558s; --delay:-2.0275015514374024s;">
        </div>
        <div class="bubble"
            style="--size:4.508318668274821rem; --distance:9.117345520409113rem; --position:87.94382359812637%; --time:2.8552111263676707s; --delay:-3.220822134499248s;">
        </div>
        <div class="bubble"
            style="--size:2.5625638164718687rem; --distance:8.085826987840893rem; --position:89.37035951574991%; --time:2.4076849026068743s; --delay:-2.660110171830334s;">
        </div>
        <div class="bubble"
            style="--size:3.01531702405003rem; --distance:9.410740760715754rem; --position:1.9242596137149715%; --time:3.9170320622720545s; --delay:-3.5171475776496894s;">
        </div>
        <div class="bubble"
            style="--size:4.441102824026273rem; --distance:9.483968021257887rem; --position:25.264369488754095%; --time:2.1462546681853816s; --delay:-3.0356413874296893s;">
        </div>
        <div class="bubble"
            style="--size:4.09368089546506rem; --distance:6.1525836152929125rem; --position:41.714443741223235%; --time:2.7204762038775385s; --delay:-3.650887224704322s;">
        </div>
        <div class="bubble"
            style="--size:5.705449764256768rem; --distance:7.262976375661959rem; --position:97.01835687649402%; --time:2.4774993664135763s; --delay:-2.1021847402665537s;">
        </div>
        <div class="bubble"
            style="--size:2.9082117270076155rem; --distance:7.719264196669898rem; --position:95.02168192663376%; --time:2.436171935039254s; --delay:-2.560282134117623s;">
        </div>
        <div class="bubble"
            style="--size:4.827634223888878rem; --distance:6.958578016794736rem; --position:60.56438891891091%; --time:3.8017948301790336s; --delay:-3.1183178285794266s;">
        </div>
        <div class="bubble"
            style="--size:3.4598828347712898rem; --distance:9.570617777869098rem; --position:31.142201691972367%; --time:3.124367296181867s; --delay:-2.522857093350684s;">
        </div>
        <div class="bubble"
            style="--size:2.2241514984027146rem; --distance:9.51148971176456rem; --position:72.47161971974637%; --time:2.251581777599985s; --delay:-3.4297683569496678s;">
        </div>
        <div class="bubble"
            style="--size:4.069096124477574rem; --distance:8.547008306577561rem; --position:33.69351790866305%; --time:2.3834135011894495s; --delay:-2.9667625582133152s;">
        </div>
        <div class="bubble"
            style="--size:2.3816568008652537rem; --distance:9.771659170634742rem; --position:78.91424157178245%; --time:2.8705871973914854s; --delay:-3.178573141230696s;">
        </div>
    </div>
    <div class="content">
        <div class="containeer">
            <footer class="">
                <div class="row">

                    <div class="col-md-5 offset mb-3">
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of what's new and exciting from us.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>


                    <div class="col-6 col-md-2 mb-3">
                        <h5>Informations légales</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">RGPD</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">CGV</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mentions légales</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">ANSSI</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">CGU</a></li>
                        </ul>
                    </div>
        
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Menu</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Accueil</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Appareils</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Profil</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Favoris</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Commandes</a></li>
                        </ul>
                    </div>
        
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Besoin d’Aide ?</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">+33 7 67 92 32 01</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">ventaliscontact@gmail.fr</a></li>
                        </ul>
                    </div>
        
                    
                </div>
        
                <div class="d-flex flex-column flex-sm-row justify-content-between border-top">
                    <p>© 2023 Company, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#twitter"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#instagram"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                    <use xlink:href="#facebook"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>
<svg style="position:fixed; top:100vh">
    <defs>
        <filter id="blob">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob">
            </feColorMatrix>
            <!--feComposite(in="SourceGraphic" in2="blob" operator="atop") //After reviewing this after years I can't remember why I added this but it isn't necessary for the blob effect-->
        </filter>
    </defs>
</svg>