<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="img-fluid" width="250" src="/img/logo2.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VENTALIS second life</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">


                    

                        {# <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrateur
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div> #}

                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_user_index')}}">Gestion d'utilisateurs</a>
                        </li>
                        {% endif %}

                        {% if app.user and is_granted('ROLE_EMPLOYEE') %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_product_index')}}">Gestion de produits</a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_home')}}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_view_product')}}">Appareils</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-person"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart_index')}}"><i class="bi bi-cart"></i></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-outline-info rounded-0"><a href="{{ path('app_register')}}" class="nav-link px-2 text-white">S'inscrire</a></li></button>
                    <button type="button" class="btn btn-info rounded-0">
                        {% if app.user %}
                            <a href="{{ path('app_logout')}}" class="nav-link px-2 text-white">Déconnexion</a></li>
                        {% else %}
                            <a href="{{ path('app_login')}}" class="nav-link px-2 text-white">Connexion</a></li>
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>